.fixed {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #F0DBDB;
    padding: 10px;
    width: 100%;
    height: 110px;
    z-index: 100; 
}

.employee_list{
    position: fixed;
    left: 1%;
    top: 100px;
    background-color: #FFF2D8;
    padding: 10px;
    width: 380px;
    height: 100px;
}

.employee{
    color: #B3A492;
    position: fixed;
    top: 125px;
    left: 90px;
}

.fixed1 {
    position: fixed;
    left: 0;
    top: 12.5%;
    background-color: #F6C391;
    padding: 10px;
    width: 27%;
    height: 90%;
    overflow-y: auto; 
}

.personal{
    position: fixed;
    left: 1%;
    top: 205px;
    background-color: #FFF2D8;
    padding: 10px;
    width: 380px;
    height: 100px;
}

.personal1{
    color: #B3A492;
    position: fixed;
    top: 225px;
    left: 45px;
}

.education{
    position: fixed;
    left: 1%;
    top: 310px;
    background-color: #FFF2D8;
    padding: 10px;
    width: 380px;
    height: 100px;
}

.educational{
    color: #B3A492;
    position: fixed;
    top: 330px;
    left: 25px;
}

.experience{
    position: fixed;
    left: 1%;
    top: 415px;
    background-color: #FFF2D8;
    padding: 10px;
    width: 380px;
    height: 100px;
}

.experience1{
    color: #B3A492;
    position: fixed;
    top: 435px;
    left: 65px;
}

.trainings{
    position: fixed;
    left: 1%;
    top: 520px;
    background-color: #FFF2D8;
    padding: 10px;
    width: 380px;
    height: 100px;
}

.training1{
    color: #B3A492;
    position: fixed;
    top: 540px;
    left: 125px;
}

.logout{
    position: fixed;
    left: 1%;
    top: 625px;
    background-color: #FFF2D8;
    padding: 10px;
    width: 380px;
    height: 100px;
}

.logout1{
    color: #B3A492;
    position: fixed;
    top: 650px;
    left: 140px;
}

h2{
    position: relative;
    top: 50px;
    left: 470px;
}

.table{
    position: relative;
    width: 1000px;
    height: auto;
    top: 100px;
    left: 470px;
  }

td, th {
    height: 60px;
  }
