.fixed {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #F0DBDB;
    padding: 10px;
    width: 100%;
    height: 110px;
    z-index: 100;
}

.employee_list {
    position: fixed;
    left: 1%;
    top: 100px;
    background-color: #FFF2D8;
    padding: 10px;
    width: 380px;
    height: 100px;
}

.employee {
    color: #B3A492;
    position: fixed;
    top: 125px;
    left: 90px;
}

.fixed1 {
    position: fixed;
    left: 0;
    top: 12.5%;
    background-color: #F6C391;
    padding: 10px;
    width: 27%;
    height: 90%;
    overflow-y: auto;
}

.personal {
    position: fixed;
    left: 1%;
    top: 205px;
    background-color: #FFF2D8;
    padding: 10px;
    width: 380px;
    height: 100px;
}

.personal1 {
    color: #B3A492;
    position: fixed;
    top: 225px;
    left: 45px;
}

.education {
    position: fixed;
    left: 1%;
    top: 310px;
    background-color: #FFF2D8;
    padding: 10px;
    width: 380px;
    height: 100px;
}

.educational {
    color: #B3A492;
    position: fixed;
    top: 330px;
    left: 25px;
}

.experience {
    position: fixed;
    left: 1%;
    top: 415px;
    background-color: #FFF2D8;
    padding: 10px;
    width: 380px;
    height: 100px;
}

.experience1 {
    color: #B3A492;
    position: fixed;
    top: 435px;
    left: 65px;
}

.trainings {
    position: fixed;
    left: 1%;
    top: 520px;
    background-color: #FFF2D8;
    padding: 10px;
    width: 380px;
    height: 100px;
}

.training1 {
    color: #B3A492;
    position: fixed;
    top: 540px;
    left: 125px;
}

.logout {
    position: fixed;
    left: 1%;
    top: 625px;
    background-color: #FFF2D8;
    padding: 10px;
    width: 380px;
    height: 100px;
}

.logout1 {
    color: #B3A492;
    position: fixed;
    top: 650px;
    left: 140px;
}

h2 {
    position: relative;
    top: 30px;
    left: 800px;
}

.background {
    position: fixed;
    left: 33%;
    top: 27%;
    background-color: #dbc5a8;
    padding: 10px;
    width: 950px;
    height: 485px;
    z-index: 100;
}

.control {
    position: relative;
    top: -40px;
    width: 50%;
    left: 40%;
}

.label {
    position: relative;
    top: 20px;
    left: 90px;
    color: #321E1E;
    font-size: 30px;
}

.control,
.label {
    margin-bottom: -50px;
}

.button {
    position: relative;
    top: 30px;
    left: 420px;
    width: 150px;
    background-color: #FFA069;
}

.table-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    left: 200px;
}

table {
    width: 100%;
}

.add-employee-button{
    position: relative;
    top: 165px;
    left: 900px;
    z-index: 1;
}

.add-employee-button {
    position: relative;
    top: -165px;
    left: 900px;
    width: 150px;
}

.update_button{
    position: relative;
    left: 0px;
    top: 0px;
    width: 100px;
}

.delete_button{
    position: relative;
    left: 15px;
    top: -0px;
    width: 100px;
}

@media (max-width: 1023px) {
    .fixed1 {
        width: 100%;
        height: auto;
        position: static;
    }

    .employee_list,
    .personal,
    .education,
    .experience,
    .trainings,
    .logout {
        position: static;
        width: 100%;
        height: auto;
    }

    .employee,
    .personal1,
    .educational,
    .experience1,
    .training1,
    .logout1 {
        position: static;
        text-align: center;
    }

    h2 {
        position: static;
        text-align: center;
    }

    .table-container {
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        left: 0;
    }
    
    table {
        width: 100%;
    }

    .add-employee-button {
        position: relative;
        top: 50%;
        left: -250px;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 30px;
        font-size: 12px;
        z-index: -1;
    }

    .delete_button{
        position: relative;
        left: 0px;
        top: 5px;
        width: 100px;
    }

}

#success-card {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    display: none;
    /* Initially hidden */
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    background: white;
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.2);
    border-radius: 8px;
    z-index: 1;
}

#success-upper-side {
    padding: 2em;
    background-color: #A67B5B;
    color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#checkmark {
    font-weight: lighter;
    fill: #fff;
    margin: -3.5em auto auto 20px;
}

#status {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    margin-top: -.2em;
    margin-bottom: 0;
}

#success-lower-side {
    padding: 2em;
    background: #FED8B1;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#success-message {
    margin-top: -.5em;
    color: #757575;
    letter-spacing: 1px;
}

#contBtn {
    margin-top: 1.5em;
    text-decoration: none;
    background: #A67B5B;
    color: #fff;
    padding: .8em 3em;
    border-radius: 25px;
    transition: all .4s ease;
}

#contBtn:hover {
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    transition: all .4s ease;
}
