<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ADD EMPLOYEE</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Bulma/bulma.css') }}">
  <link rel="stylesheet" href="static/CSS/style.css">
</head>

<body>

  <div class=".container.is-max-widescreen	">
    <div class="notification  has-background-warning-light">
      <strong class="	is-size-3 has-text-weight-bold ">Employee Information System</strong>
    </div>
  </div>

  <div class="fixed1">
  </div>

  <div class="employee_list">
    <h2 class="employee is-size-3	has-text-weight-bold	">Employee List<h2>
  </div>

  <div class="personal">
    <h2 class="personal1  is-size-3	has-text-weight-bold	">Personal Information<h2>
  </div>

  <div class="education">
    <h2 class="educational is-size-3	has-text-weight-bold	">Educational Information<h2>
  </div>


  <div class="experience">
    <h2 class="experience1 is-size-3	has-text-weight-bold	">Work Experience<h2>
  </div>


  <div class="trainings">
    <h2 class="training1 is-size-3	has-text-weight-bold	">Trainings<h2>
  </div>


  <div class="logout">
    <h2 class="logout1 is-size-3	has-text-weight-bold	">Logout<h2>
  </div>

  <h2 class="title is-2">ADD EMPLOYEE</h2>

  <div class="background">
      <label class="label is-size-3 has-text-weight-bold">EMPLOYEE ID</label>
      <div class="control">
        <input class="input" type="text">
      </div>

      <label class="label is-size-3 has-text-weight-bold">LAST NAME</label>
      <div class="control">
        <input class="input" type="text">
      </div>

      <label class="label is-size-3 has-text-weight-bold">FIRST NAME</label>
      <div class="control">
        <input class="input" type="text">
      </div>

      <label class="label is-size-3 has-text-weight-bold">MIDDLE NAME</label>
      <div class="control">
        <input class="input" type="text">
      </div>

      <label class="label is-size-3 has-text-weight-bold">ADDRESS</label>
      <div class="control">
        <input class="input" type="text">
      </div>

      <label class="label is-size-3 has-text-weight-bold">BIRTHDAY</label>
      <div class="control">
        <input class="input" type="date">
      </div>

      <label class="label is-size-3 has-text-weight-bold">CIVIL STATUS</label>
      <div class="control">
        <div class="select">
          <select>
            <option>SINGLE</option>
            <option>MARRIED</option>
            <option>DIVORCED</option>
            <option>WIDOWED</option>
          </select>
        </div>
      </div>

      <button class="button is-medium">ADD</button>


      </div>

</body>

</html>